@using BDHospital.Clases;
@model IEnumerable<GetSetEspecialidad>;
@{
    ViewData["Title"] = "Albrianlegustaelpito";
}

<h1>Lista de Especialidades</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Identificador</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>

    </thead>
    <tbody>
        @foreach(GetSetEspecialidad esp in Model)
        {
            <tr>    
                <th>@esp.idespecialidad</th>
                <th>@esp.nombre</th>
                <th>@esp.descripcion</th>
            </tr>
        }
    </tbody>
</table>
